body {
  background-image: url('https://www.toptal.com/designers/subtlepatterns/patterns/stardust.png');
  color: white;
}

h1, h3 {
  font-family: 'Oswald';
}

h2, ol {
  font-family: 'Source Code Pro';
}
